<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adocker.test">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".components.activity.DemoActivity" />

        <activity
            android:name=".components.activity.ResolverActivityOne"
            android:label="ResolverActivityOne">
            <intent-filter>
                <action android:name="com.adocker.test.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.activity.ResolverActivityTwo"
            android:label="ResolverActivityTwo">
            <intent-filter>
                <action android:name="com.adocker.test.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.activity.ResolverActivityThree"
            android:label="ResolverActivityThree">
            <intent-filter>
                <action android:name="com.adocker.test.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.service.ServiceTestActivity"
            android:label="ServiceTestActivity" />

        <activity
            android:name=".components.dialog.AlertDialogSamples"
            android:label="AlertDialogSamples" />

        <activity
            android:name=".components.notification.NotificationTestActivity"
            android:label="NotificationTestActivity" />

        <activity
            android:name=".components.notification.LaunchActivity"
            android:label="LaunchActivity" />

        <service android:name=".components.service.DemoService" />

        <receiver android:name=".components.broadcast.DemoBroadcastReceiver">
            <intent-filter>
                <action android:name="com.adocker.test.STATIC_RECEIVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".components.contentprovider.DemoContentProvider"
            android:authorities="${applicationId}.demo.contentprovider"
            android:exported="true" />

        <service
            android:name=".components.job.DemoJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>